<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Restaurant Apps Starter Project</title>
	</head>
	<body>
		<a href="#maincontent" class="skip-link">Menuju ke konten</a>
		<header>
			<section class="sticky">
				<div class="inner">
					<button aria-label="tampilkan navigasi" class="menu" id="menu">☰</button>
					<h1 class="title">Restoran Review</h1>
				</div>
				<nav id="drawer">
					<ul>
						<li><a href="/">Beranda</a></li>
						<li><a href="#">Favorit</a></li>
						<li><a href="https://facebook.com/idsantri.page" target="_blank">Tentang</a></li>
					</ul>
				</nav>
			</section>
			<section class="hero">
				<img src="./images/heros/hero-image_2.jpg" alt="gambar hero" />
				<div class="hero-content">
					<h1 class="hero-title">Kuliner Indonesia</h1>
					<h2 class="hero-subtitle">Rasakan Lezatnya Cita Rasa <span>Kuliner Indonesia</span></h2>
				</div>
			</section>
		</header>
		<main id="maincontent">
			<h1>Daftar Restoran Indonesia</h1>
			<div class="container" id="card-container"></div>
		</main>
		<footer>
			<p>by IDSantri @2022</p>
		</footer>
	</body>
</html>
